@{
    ViewData["Title"] = "Webinar| Welcome Page";
}


<div class="text-center">
    <h1 class="display-4">Much Awaited Webinar</h1>
    <img src="~/image/webinar-1.jpg" /> "
</div>

<div>
    <ul>
        
        <li>Participants can get enriching experience</li>
    </ul>
</div>
<a class="btn btn-primary" asp-action="RegisterForm">Regsiter for attending Webinar</a>
